body {
font-size:14px;
}

.search {
margin:0 auto;
width:500px;
padding:14px;
}

l{
width:10em;
margin-right: 0.5em;
color:#454545;
font-family: Helvetica, sans-serif;
}

label {
width:10em;
float: left;
margin-right: 0.5em;
display:block;
color:#454545;
font-family: Helvetica, sans-serif;
}

.dateofbirthField {width:33px} 

.submit {
float:right;
}

fieldset {
background:#EBF4FB none repeat scroll 0 0;
border:2px solid #B7DDF2;
width: 500px;
} 

p {
border-bottom:1px solid #B7DDF2;
color:#666666;
font-family: Helvetica, sans-serif;
font-size:14px;
margin-bottom:20px;
padding-bottom:10px;
margin-top:20px;
padding-top:10px;
}

h1{
border-bottom:1px dotted #B7DDF2;
color:#666666;
font-family: Helvetica, sans-serif;
font-size:16px;
margin-bottom:10px;
padding-bottom:5px;
}

.element {
padding: 20px;
}

.results {
margin:0 auto;
width:700px;
padding:14px;
background:#EBF4FB none repeat scroll 0 0;
}

table.results {
border:2px solid #B7DDF2;
border-spacing: 0px;
}

p1 {
color:#666666;
font-size:14px;
}

td {
border-top: solid 1px #B7DDF2;
padding:14px;
}

