<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/JavaScript" src="{{ url_for('static', filename='frmvalidation.js') }}"></script> 
<div>
    <form action="." method="POST" onsubmit="return true" class="search">

    <fieldset>
    <p>Search</p>
    <div class="element">
    <label>Name</label>    
    <input type="text" name="name">
    </div>
    <div class="element">
    <input type="radio" name="myradio" value="n" onClick="tgl(this)" style="visibility: visible;" checked><l>Search by Date</l>
    <input type="radio" name="myradio" value="y" onClick="tgl(this)" style="visibility: visible;" ><l>Search in Range</l>
    </div>

    <div class="element">
    <label>Date of Birth</label>
    <input type="text" name="date" id="dateofbirth" onchange="validateDate()" onclick="validateDate()" oninput="validateDate()">
    <h id="dateofbirthMessage"></h>
    </div>

    <div class="element" id="dateofbirthRangeDIV">
    <label>Date of Birth Range</label>
    <l>From</l><input type="text" name="dateFrom" id="dateofbirthRangeFrom" class="dateofbirthField" oninput="validateDateRange()" onchange="validateDateRange()" onclick="validateDateRange()" disabled="true">
    <l>To</l><input type="text" name="dateTo" id="dateofbirthRangeTo" class="dateofbirthField" oninput="validateDateRange()" onchange="validateDateRange()" onclick="validateDateRange()" disabled="true">
    <h id="dateofbirthMessageRange"></h>
    </div>

    <div class="submit">
    <input type="submit" name="submit" value="Search">
    </div>
    </fieldset>
    </form>
</div>
{% block body %}{% endblock %}
</html>
