<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/JavaScript" src="{{ url_for('static', filename='frmvalidation.js') }}"></script> 
<div>
    <form action="." method="POST" onsubmit="return true" class="search">

    <fieldset>
    <p>Search</p>
    <div class="element">
    <label>Name</label>    
    <input type="text" name="name">
    </div>
    <div class="element">
    <input type="radio" name="myradio" value="n" onClick="tgl(this)" style="visibility: visible;" checked><l>Search by Date</l>
    <input type="radio" name="myradio" value="y" onClick="tgl(this)" style="visibility: visible;" ><l>Search in Range</l>
    </div>

    <div class="element">
    <label>Date of Birth</label>
    <input type="text" name="date" id="dateofbirth" onchange="validateDate(this,'dobMessage')" onclick="validateDate(this,'dobMessage')" oninput="validateDate(this,'dobMessage')">
    <h id="dobMessage"></h>
    </div>

    <div class="element" id="dateofbirthRangeDIV">
    <label>Date of Birth Range</label>
    <l>From</l><input type="text" name="dateFrom" id="dobRangeFrom" class="dateofbirthField" oninput="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" onchange="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" onclick="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" disabled="true">
    <l>To</l><input type="text" name="dateTo" id="dobRangeTo" class="dateofbirthField" oninput="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" onchange="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" onclick="validateDateRange('dobRangeFrom','dobRangeTo','dobMessageRange')" disabled="true">
    <h id="dobMessageRange"></h>
    </div>

    <div class="element">
    <input type="radio" name="radioDeath" value="n" onClick="tglD(this)" style="visibility: visible;" checked><l>Search by Date</l>
    <input type="radio" name="radioDeath" value="y" onClick="tglD(this)" style="visibility: visible;" ><l>Search in Range</l>
    </div>

    <div class="element">
    <label>Date of Death</label>
    <input type="text" name="date" id="dateofdeath" onchange="validateDate(this, 'dateofdeathMessage')" onclick="validateDate(this, 'dateofdeathMessage')" oninput="validateDate(this, 'dateofdeathMessage')">
    <h id="dateofdeathMessage"></h>
    </div>

    <div class="element" id="dateofdeathRangeDIV">
    <label>Date of Death Range</label>
    <l>From</l><input type="text" name="dateFromDeath" id="dodRangeFrom" class="dateofbirthField" oninput="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" onchange="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" onclick="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" disabled="true">
    <l>To</l><input type="text" name="dateToDeath" id="dodRangeTo" class="dateofbirthField" oninput="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" onchange="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" onclick="validateDateRange('dodRangeFrom','dodRangeTo','dodMessageRange')" disabled="true">
    <h id="dodMessageRange"></h>
    </div>
    <div class="submit">
    <input type="submit" name="submit" value="Search">
    </div>
    </fieldset>
    </form>
</div>
{% block body %}{% endblock %}
</html>
