<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/JavaScript" src="{{ url_for('static', filename='frmvalidation.js') }}"></script>

<div>
    <form action="." method="POST" onsubmit="return validateForm()" class="search">

    <fieldset>
    <p>Search</p>
    <div class="element">
    <label>Name</label>    
    <input type="text" name="name">
    </div>


    <div class="element">
    <input type="radio" name="myradio" value="n" onClick="toggle(this)" checked><l>Search by Date</l>
    <input type="radio" name="myradio" value="y" onClick="toggle(this)"><l>Search in Range</l>
    </div>

    <div class="element" id="dateofbirthDIV">
    <label>Date of Birth</label>
    <input type="text" name="date" id="dateofbirth" onchange="validateDate()" onclick="validateDate()" oninput="validateDate()">
    <h id="dateofbirthMessage"></h>
    </div>

    <div class="element" id="dateofbirthRangeDIV">
    <label>Date of Birth Range</label>
    <l>From</l><input type="text" name="date" id="dateofbirthRangeFrom" class="dateofbirthField" onchange="validateDateRange(this)" onclick="validateDateRange(this)" oninput="validateDateRange()" disabled="true">
    <l>To</l><input type="text" name="date" id="dateofbirthRangeTo" class="dateofbirthField" onchange="validateDateRange(this)" onclick="validateDateRange(this)" oninput="validateDateRange()" disabled="true">
    <h id="dateofbirthMessageRange"></h>
    </div>

    <div class="submit">
    <input type="submit" name="submit" value="Search">
    </div>
    </fieldset>
    </form>
<h id="validate"></h>



</div>


{% block body %}{% endblock %}
</html>
